upstream api {
    server api:3000;
}

server {
    listen 80;
    server_name ${DOMAIN} _;

    location /.well-known/acme-challenge/ {
        root /var/www/certbot;
    }

    include /etc/nginx/conf.d/proxy-locations.conf;
}
